img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
}

table {
    width: 30%;
}

th,td {
    padding-right: 5px !important;
    padding-left: 5px !important;
    text-align: center !important;
}