<div class="mb-3 d-flex">
    <h2 mat-dialog-title>Change Password</h2>
    <i class="fa fa-2x fa-times-circle text-danger ms-auto" mat-dialog-close></i>
</div>
<mat-dialog-content>
    <form (ngSubmit)="onPassSubmit()" #passForm="ngForm">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Old Password</mat-label>
        <input
            matInput
            type="password"
            name="oldPass"
            [(ngModel)]="passwords.oldPass"
            #oldPass="ngModel"
            required>
        <mat-error *ngIf="oldPass.touched && (oldPass.invalid)">
          <span *ngIf="oldPass.hasError('required')">This.field is required</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label>New Password</mat-label>
        <input
            matInput
            type="password"
            name="newPass"
            [(ngModel)]="passwords.newPass"
            pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
            #newPass="ngModel"
            required>
        <mat-error *ngIf="newPass.touched && (newPass.invalid)">
          <span *ngIf="newPass.hasError('required')"This field is required></span>
          <span *ngIf="newPass.hasError('pattern')">
            'Min length: 8 characters and at least one lowercase letter, one uppercase letter, one digit and one special character'
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Confirm New Password</mat-label>
        <input
            matInput
            type="password"
            name="cNewPass"
            [(ngModel)]="passwords.cNewPass"
            #cNewPass="ngModel"
            required>
        <mat-error *ngIf="cNewPass.touched && (cNewPass.invalid)">
          <span *ngIf="cNewPass.hasError('required')">This field is required</span>
        </mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button 
          mat-raised-button 
          color="primary" 
          type="submit"
          [disabled]="passForm.invalid">Change Password</button>
      </div>
    </form>
</mat-dialog-content>
<div *ngIf="loaderService.isProcessing" class="loading"></div>